{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Menu Item</h1>
    <span>
      <a href="{% url 'home' %}">home</a>
      <a href="{% url 'menu' %}">menu</a>
    </span>
    <div class="row">
      <div class="column">
        <h2>{{menu_item.name}}</h2>
        <p>Price: ${{menu_item.price}}</p>
        <p>{{menu_item.description}}</p>
      </div>
      <div class="column">
        <img
          src="/restaurant/static/img/menu_items/{{menu_item.name}}.jpg"
          alt="{{menu_item.name}}"
        />
      </div>
    </div>
  </article>
</section>
{% endblock %}
